/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/* <header */
.header{
    background-image: url(../images/bg.jpg);
     width: 100%;
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
     padding-top: 30px;
     padding-bottom: 84px;
 }
 .container{
     max-width: 1089px;
     width: 100%;
     margin: 0 auto;
 }
 .logo img{
     max-width: 86px;
     width: 100%;
 }
 .nav-box{
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-pack: justify;
         -ms-flex-pack: justify;
             justify-content: space-between;
     margin-bottom: 96px; 
 }
 .nav-ul{
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
 }
 .nav-li{
     margin-right: 49px;
     -webkit-transition: 1s;
     -o-transition: 1s;
     transition: 1s;
 }
 .nav-li:last-child{
     margin-right: 0;
 }
 .nav-li a{
     color:#FFFFFF;
     font-size: 12px;
     font-family: 'Poppins-SemiBold';
     text-transform: uppercase;
     line-height: 18px;
 }
 .nav-li:hover{
     -webkit-transform:scale(1.2);
         -ms-transform:scale(1.2);
             transform:scale(1.2);
 }
 .nav-li .blue{
     color: #5863F8;
 }
 .fa-bars{
     color:#FFFFFF;
     font-size: 20px;
     margin: 0 20px 0 20px;
     display: none;
     -webkit-transition: 1s;
     -o-transition: 1s;
     transition: 1s;
 }
 .navigation-wrapper{
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-pack: justify;
         -ms-flex-pack: justify;
             justify-content: space-between;
 }
 .title{
     max-width: 200px;
     width: 100%;
     font-size: 42px;
     font-family: 'Poppins-ExtraBold ';
     color: #FFFFFF;
     line-height: 56px;
     margin-bottom: 14px;
 }
 .title-box{
     max-width: 140px;
     width: 100%;
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-pack: justify;
         -ms-flex-pack: justify;
             justify-content: space-between;
     -webkit-box-align: center;
         -ms-flex-align: center;
             align-items: center;
 
 }
 /* .home::after{
     content: " ";
     height: 19px;
     width: 2px;
     background-color:#FFFFFF;
     display: inline-block;
     margin-left: 14px;
     margin-right: 16px;
 } */
 .home,
 .about {
     color: #FFFFFF;
     font-size: 14px;
     font-family: 'Poppins-Medium';
     line-height: 21px;
 }
 .divider{
     width: 2px;
     height: 19px;
     background-color:#FFFFFF;
 }
 
 /* <end of header> */
 /* <section2> */
 .section2{
     width: 100%;
     padding: 90px 0px;
 }
 .box-wrapper{
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-pack: justify;
         -ms-flex-pack: justify;
             justify-content: space-between;
 }
 .left-box,
 .right-box{
     width: 50%;
 }
 /* <left box> */
 .left-box-title{
     color: #5863F8;
     font-size: 14px;
     font-family:'Poppins-Bold';
     text-transform: uppercase;
     line-height: 21px;
 }
 .left-box-title2{
     color: #000000;
     font-family: 'Poppins-ExtraBold ';
     font-size: 42px;
     max-width: 374px;
     width: 100%;
     line-height: 56px;
 }
 .left-box-text{
     font-size: 16px;
     font-family: 'Poppins-Medium';
     max-width: 444px;
     width: 100%;
     color: #000000;
     line-height: 25px;
     margin-top: 10px;
     margin-bottom: 10px;
 }
 .left-box-text2{
     font-size: 14px;
     font-family: 'Poppins-Regular';
     color: #000000;
     max-width: 444px;
     width: 100%;
     line-height: 21px;
 }
 .btn{
     max-width: 184px;
     width: 100%;
     height: 50px;
     background-color: #5863F8;
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-pack: center;
         -ms-flex-pack: center;
             justify-content: center;
     -webkit-box-align: center;
         -ms-flex-align: center;
             align-items: center;
     margin-top: 20px;
 }
 .btn p{
     color: #FFFFFF;
     font-size: 14px;
     font-family: 'Poppins-Regular';
     margin-right: 10px;  
 }
 .btn img{
     width: 10.41px;
 }
 /* <right box> */
 .image-box{
     width: 100%;
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-pack: justify;
         -ms-flex-pack: justify;
             justify-content: space-between;
     margin-bottom: 12px;
 }
 .image-box img{
     height: 185px;
     width: 48%;
     -o-object-fit: cover;
        object-fit: cover;
 }
 .right-box-img{
     height: 260px;
     width: 100%;
     -o-object-fit: cover;
        object-fit: cover;
 }
 /* <section2> */
 /* <section 3> */
 .section3{
     background-image: url(../images/bg2.jpg);
     width: 100%;
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
     padding-top: 92px;
     padding-bottom: 90px;
 }
 .section3-title{
     max-width: 376px;
     width: 100%;
     color: #FFFFFF;
     font-size: 42px;
     font-family: 'Poppins-ExtraBold ';
     line-height: 56px;
     margin-bottom: 34px;
     margin-top: 2px;
 }
 .block-wrapper{
     width: 100%;
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-pack: justify;
         -ms-flex-pack: justify;
             justify-content: space-between;
     -ms-flex-wrap: wrap;
         flex-wrap: wrap;
 }
 .block{
     height: 260px;
     background-color: #FFFFFF;
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-orient: vertical;
     -webkit-box-direction: normal;
         -ms-flex-direction: column;
             flex-direction: column;
     -webkit-box-pack: center;
         -ms-flex-pack: center;
             justify-content: center;
     -webkit-box-align: center;
         -ms-flex-align: center;
             align-items: center;
     width: 24%;
 }
 .icon{
     width: 59px;
     height: 58px;
     border-radius: 50%;
     background-color: #5863F8;
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-pack: center;
         -ms-flex-pack: center;
             justify-content: center;
     -webkit-box-align: center;
         -ms-flex-align: center;
             align-items: center;
 }
 .icon img{
     size: 32px;
 }
 .block-title{
     max-width: 180px;
     width: 100%;
     font-size: 18px;
     font-family: 'Poppins-SemiBold';
     line-height: 27px;
     color: #000000;
     margin-top: 15px;
     margin-bottom: 20px;
     text-align: center;
 }
 .block-text{
     max-width: 221px;
     width: 100%;
     font-size: 14px;
     font-family: 'Poppins-Medium';
     color: #B1B1B1;
     text-align: center;
     line-height: 21px;
 }
 /* <section 4> */
 .section4-wrapper{
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
 }
 .left-block{
     width: 58%;
 }
 .right-block{
     width: 42%;
 }
 /* <left-block> */
 .left-block{
     background-color: #F8F8F8;  
     display: -webkit-box;  
     display: -ms-flexbox;  
     display: flex;
     -webkit-box-pack: center;
         -ms-flex-pack: center;
             justify-content: center;
     -webkit-box-align: center;
         -ms-flex-align: center;
             align-items: center;
 }
 .left-block-title2{
     max-width: 515px;
     width: 100%;
     color: #000000;
     font-family: 'Poppins-ExtraBold ';
     font-size: 42px;
     line-height: 56px;
 }
 .profile{
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-align: start;
         -ms-flex-align: start;
             align-items: flex-start;
     margin-top: 30px;
     margin-bottom: 20px;
 }
 .profile p{
     font-size: 18px;
     font-family: 'Poppins-SemiBold';
     line-height: 27px;
     color: #000000;
     margin-left: 19px;
 }
 .section4-text{
     max-width: 352px;
     width: 100%;
     font-size: 14px;
     font-family: 'Poppins-Medium';
     line-height: 21px;
 }
 /* <.right-block> */
 .right-block img{
     height: 487px;
     width: 100%;
     -o-object-fit: cover;
        object-fit: cover;
     display: block;
 }
 /* <end of section 4> */
 /* <section menu styles> */
 .section-menu{
     padding: 90px 0;
 }
 .menu-wrapper{
     width: 100%;
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap;
 }
 .menu-block:nth-child(3),
 .menu-block:nth-child(4){
     margin-top: 16px;
 }
 .menu-block{
     width: 48%;
     height: 190px;
     background-color: #F8F8F8;
     display: flex;
     justify-content: space-between;
     align-items: center;
 }
 .menu-block img{
     max-width: 168px;
     width: 100%;
 }
 .menu-text-block{
     max-width: 260px;
     width: 100%;
 }
 .menu-title{
     font-size: 18px;
     font-family: 'Poppins-SemiBold';
     line-height: 27px;
     margin-bottom: 10px;
 }
 .menu-text{
     font-size: 14px;
     font-family: 'Poppins-Medium';
     line-height: 21px;
     color: #B1B1B1;
 }
 .menu-btn{
     background-color: #5863F8;
     color: #FFFFFF;
     width: 60px;
     height: 60px;
     border: none;
     cursor: pointer;
 }
 .menu-form{
     align-self: flex-end;
 }
 /* <section menu styles end> */
 /* <rooms section start> */
.rooms-section{
    background-color:#F8F8F8 ;
    padding: 53px 0;
}
.rooms-form{
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-wrap:wrap;
}
.chek-in{
    display: flex;
    flex-direction: column;
    max-width: 260px;
    width: 24%;
}
label{
    color: #5863F8;
    font-size: 13px;
    font-family: 'Poppins-Medium';
    line-height: 20px;
    margin-bottom: 5px;
}
.input-in{
    /* max-width: 260px; */
    width: 100%;
    height: 60px;
    border: 2px solid #E8E8E8;
}
.input-in::placeholder{
    padding: 20px;
    color: #CECECE;
    font-size: 13px;
    font-family: 'Poppins-Regular';
}
.rooms-tbn{
    max-width: 260px;
    width: 24%;
    height: 60px;
    background-color:#5863F8;
    color: #FFFFFF;
    font-size: 13px;
    font-family: 'Poppins-SemiBold';
    border: none;
    align-self: flex-end;
    cursor: pointer;
}
/* <rooms section end> */
 /* <section 5> */
 .section5{
     padding-top: 90px;
 }
 .section5-title{
     max-width: 567px;
     width: 100%;
     color: #000000;
     font-family: 'Poppins-ExtraBold ';
     font-size: 42px;
     line-height: 56px;
     margin-bottom: 50px;
 }
 .image-wrapper{
     width: 100%;
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-pack: justify;
         -ms-flex-pack: justify;
             justify-content: space-between;
     -ms-flex-wrap: wrap;
         flex-wrap: wrap;
 }
 .section5-image{
     height: 352px;
     width: 25%;
     -o-object-fit: cover;
        object-fit: cover;
 }
 /* <section 5> */
 /* <footer > */
 .footer{
     background-color: #121212;
     padding-top: 90px;
     padding-bottom: 40px;
 }
 .footer-wrapper{
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-pack: justify;
         -ms-flex-pack: justify;
             justify-content: space-between;
     -ms-flex-wrap: wrap;
         flex-wrap: wrap;
 }
 .footer-left{
     width: 25%;
 }
 .footer-right{
     width: 55%;
 }
 /* <footer-left> */
 .footer-title{
     font-size: 24px;
     color: #FFFFFF;
     font-family: 'Poppins-Bold';
     line-height: 35px;
 }
 .footer-text{
     max-width: 260px;
     width: 100%;
     color: #B1B1B1;
     font-size: 14px;
     line-height: 21px;
     font-family: 'Poppins-Medium';
     margin-top: 20px;
     margin-bottom: 20px;
 }
 .icon-wrapper{
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
 }
 .icon-wrapper img{
     margin-right: 10px;
 }
 .icon-a:last-child .icon-image{
     margin-right: 0px;
 }
 /* <footer-right> */
 .footer-right{
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-pack: justify;
         -ms-flex-pack: justify;
             justify-content: space-between;
     -ms-flex-wrap: wrap;
         flex-wrap: wrap;
 }
 .footer-box-title{
     font-size: 18px;
     font-family: 'Poppins-SemiBold';
     color: #FFFFFF;
     line-height: 27px;
     margin-bottom: 20px;
 }
 .footer-li{
     margin-bottom: 10px;
 }
 .footer-li a{
     color: #5863F8;
     font-size: 14px;
     font-family: 'Poppins-Medium';
     line-height: 21px;
 }
 .contact-li{
     margin-bottom: 20px;
 }
 .contact-li a{
     color: #FFFFFF;
     font-size: 14px;
     font-family: 'Poppins-Medium';
     line-height: 21px;
     vertical-align: middle;
 }
 .footer-icon{
     height: 12px;
     margin-right: 14px;
     vertical-align: middle;
 }
 
 .copy{
     max-width: 559px;
     width: 100%;
     color:#B1B1B1;
     margin-top: 54px;
 }
 .copy span{
     color: #5863F8;
 }
 /* <footer > */
 
 
 /* <contact page styles> */
 .down-icon{
     width: 7px;
     vertical-align: middle;
     margin-left: 5px;
 }
 /* <contact-section2 stles> */
 .contact-section2{
     padding-top: 50px;
 }
 .map{
     width: 100%;
     height: 236px;
     margin-bottom: 56px;
 }
 .textarea{
     max-width:720px;
     width: 100%;
     height: 288px;
     background-color: #F8F8F8;
     border: 2px solid #E8E8E8;
     padding: 20px;
     margin-right: 16px;
 }
 .textarea::-webkit-input-placeholder, .contact-input::-webkit-input-placeholder{
     font-size: 13px;
     color: #CECECE;
     font-family: 'Poppins-Regular';
 }
 .textarea::-moz-placeholder, .contact-input::-moz-placeholder{
     font-size: 13px;
     color: #CECECE;
     font-family: 'Poppins-Regular';
 }
 .textarea:-ms-input-placeholder, .contact-input:-ms-input-placeholder{
     font-size: 13px;
     color: #CECECE;
     font-family: 'Poppins-Regular';
 }
 .textarea::-ms-input-placeholder, .contact-input::-ms-input-placeholder{
     font-size: 13px;
     color: #CECECE;
     font-family: 'Poppins-Regular';
 }
 .textarea::placeholder,
 .contact-input::placeholder{
     font-size: 13px;
     color: #CECECE;
     font-family: 'Poppins-Regular';
 }
 .form-wrapper,
 .input-wrapper{
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
 }
 .input-wrapper{
     -webkit-box-orient: vertical;
     -webkit-box-direction: normal;
         -ms-flex-direction: column;
             flex-direction: column;
     max-width: 352px;
     width: 100%;
 }
 .contact-input{
     width: 100%;
     height: 60px;
     background-color: #F8F8F8;
     border: 2px solid #E8E8E8;
     padding: 20px;
     margin-bottom: 16px;
 }
 .contact-btn{
     background-color: #5863F8;
     width: 100%;
     height: 60px;
     border: none;
     color: #FFFFFF;
     font-size: 14px;
     font-family: 'Poppins-Regular';
 }
 .form-wrapper{
     margin:50px 0;
 }
 .contact-block-wrapper{
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-pack: justify;
         -ms-flex-pack: justify;
             justify-content: space-between;
 }
 .contact-block{
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-orient: vertical;
     -webkit-box-direction: normal;
         -ms-flex-direction: column;
             flex-direction: column;
     -webkit-box-pack: center;
         -ms-flex-pack: center;
             justify-content: center;
     -webkit-box-align: center;
         -ms-flex-align: center;
             align-items: center;
 }
 .contact-block-title{
     margin:15px 0 5px 0;
     font-size: 18px;
     font-family: 'Poppins-SemiBold';
     line-height: 27px;
     color:#000000;
 }
 .contact-block a{
     font-size: 14px;
     font-family: 'Poppins-Medium';
     line-height: 21px;
     color: #B1B1B1;
 }